.calendar-container {
    height: 500px; /*required due to react-big-calendar package*/
}

.invite-container {
    min-width: 500px;
    display: inline-block;
    background: #fff;
    padding: 20px;
}
#invite-form>label, #invite-form>input {
    float: left;
    clear: both;
}
#invite-form>label {
    font-weight: bold;
}
#invite-form>input {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    outline: none;
    padding: 0 10px;
    margin: 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#invite-form>input:disabled {
    cursor: not-allowed;
}
#invite-form>input[type="submit"] {
    margin: 20px 0 10px;
}
#invite-form>textarea {
    width: 100%;
    min-height: 85px;
    border: 1px solid #000;
    outline: none;
    padding: 5px 10px;
    margin: 0;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#invite-form>i { /*targets sentence below textarea*/
    float: left;
}